<section>
<div class="container">
    <div class="row d-grid gap-2 d-md-flex justify-content-md-end mt-4">
        <a href="/admin/add-products" class="btn btn-success Add-produtcs-button-editing">Add Products</a>
    </div>
<table class="table mt-5" id="Example">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
      {{#each products}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      <td>{{this.Price}}</td>
      <td>{{this.Description}}</td>
      <td><img class="admin-images"  src="{{this.Url}}" alt=""></td>
      <td><a href="/admin/edit-products/{{this._id}}" class="btn btn-primary">Edit</a></td>
      <td><a href="/admin/delete-products?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Are you sure to delete {{this.Name}}')">Delete</a></td>
       
      
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
</section>

<script>
  $(function () {
    $('#Example').DataTable();
  })
</script>
